
body{
height: 100vh;
width: 100%;
background-color: black;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.container{
    height: 40%;
    width: 40%;
    background-color: rgb(238, 232, 232);
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    border: 2px solid;
    gap: 2px;
    
}
.item{
    background-color: rgb(0, 255, 64);
    border: 2px solid;
}
.item1{
    grid-column-start: 2;
    grid-column-end: 4;
    border: 2px solid;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(231, 239, 6);
}
.item2{
    grid-column-start: 2;
    grid-column-end: 4;
    border: 2px solid;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(231, 239, 6);
}

.item3{
    grid-column-start: 3;
    grid-column-end: 5;
    border: 2px solid;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(6, 239, 14);
}
.item4{
    grid-column-start: 1;
    grid-column-end: 2;
    border: 2px solid;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(231, 239, 6);
}
.item5{
    grid-column-start: 1;
    grid-column-end: 2;
    border: 2px solid;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: rgb(231, 239, 6);
}
.item6{
    grid-column-start: 2;
    grid-column-end: 3;
    border: 2px solid;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(6, 239, 14);
}
.item7{
    grid-column-start: 4;
    grid-column-end: 6;
    border: 2px solid;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(231, 239, 6);
}
.item8{
    grid-column-start: 5;
    grid-column-end: 6;
    border: 2px solid;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: rgb(231, 239, 6);
}
.item9{
    grid-column-start: 4;
    grid-column-end: 5;
    border: 2px solid;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(231, 239, 6);
}