*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: grey;
    padding-left: 90px;
    padding-right: 150px;
}
.cont{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}
.cont a{
    text-decoration: none;
    color: black;
}
.Hero{
    display: flex;
    height: 600px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
}
.herotext{
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    row-gap: 5px;
    padding-left: 190px;
    padding-right: 90px;

}
.img1{
    padding-top: 90px;
    padding-right: 40px;
}
.image{
    height: 580px;
    width: 800px;
    background-color: rgba(6, 138, 96, 0.775);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    font-size: 25px;
    color: blue;
    row-gap: 20px;
    border: 3px solid black;
    border-radius: 9px;
}

.image img{
    border-radius: 40px; 
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table table{
    padding-top: 90px;
    height: 400px;
    width: 70%;
   border-collapse: collapse;
   margin-top: 70px;

}
table Table,tr,th,td{
   border: 2px solid;
   text-align: center;
}
ol li{
    padding-bottom: 8px;
    padding-top: 8px;
}
.list{
    display: flex;
    flex-direction: column;
    border-bottom: 2px groove;
}
.listhed{
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
}
.lists{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
.data{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 40px;
}
.details{
    height: 230px;
    width: 570px;
    background-color: rgba(19, 131, 135, 0.775);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: blue;
    row-gap: 7px;
    border: 3px solid black;
    border-radius: 15px;

}
.details input,textarea{
    height: 30px;
    width: 350px;
    border: 2px groove;
    border-radius: 6px;
}
.details button{
    height: 30px;
    width: 100px;
    border-radius: 9px;
}
.foot{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
}
.foottags{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.foottags a{
    text-decoration: none;
    color:white;
}

footer h3{
    text-decoration: none;
    color:white;
}
.Fix{
    border: 2px solid rgb(9, 9, 3);
    padding: 20px;
    border-radius: 50%;
    background-color: white;

}
.fixed{
    position: fixed;
    bottom: 20px;
    right: 20px;    
}
.Fix a, textarea{
    text-decoration: none;
    color: black;
}