section{
    height:220px;
    width: 240px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four{
    height: 45px;
    width: 200px;
    background-color: red;
    border: 2px solid black;

}
#row1{
    height: 60px;
    display: flex;
    justify-content: space-between;
}
#one{
    height: 30px;
    width: 35px;
    border: 2px solid black;
    background-color: blue;
}
#two{
    height: 30px;
    width: 55px;
    border: 2px solid black;
    background-color: blue;
}
#three{
    height: 30px;
    width: 25px;
    border: 2px solid black;
    background-color: blue;
}

#row2{
    display: flex;
    justify-content: space-between;
    
}
#four{
    height: 30px;
    width: 70px;
    border: 2px solid black;
    background-color: blue;
}
#five{
    height: 30px;
    width: 30px;
    border: 2px solid black;
    background-color: blue;
}
#six{
    height: 30px;
    width: 50px;
    border: 2px solid black;
    background-color: blue;
}

#row3{
    display: flex;
    justify-content: space-between;
    height: 38px;

}
#seven{
    height: 30px;
    width: 20px;
    border: 2px solid black;
    background-color: blue;
}
#eight{
    height: 30px;
    width: 40px;
    border: 2px solid black;
    background-color: blue;
}
#nine{
    height: 30px;
    width: 80px;
    border: 2px solid black;
    background-color: blue;
}

#row4{
    display: flex;
    justify-content: space-between;
    height: 38px;

}
#ten{
    height: 30px;
    width: 40px;
    border: 2px solid black;
    background-color: blue;
}
#eleven{
    height: 30px;
    width: 10px;
    border: 2px solid black;
    background-color: blue;
}
#twelve{
    height: 30px;
    width: 40px;
    border: 2px solid black;
    background-color: blue;
}

#thirteen{
    height: 30px;
    width: 10px;
    border: 2px solid black;
    background-color: blue;
}
#forteen{
    height: 30px;
    width: 40px;
    border: 2px solid black;
    background-color: blue;
}