body{
    height: 100vh;
    width: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    height: 80%;
    width: 80%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.box{
    background: green;
    border: 1px solid white;
}