
.navbar{
height: 15vh;
width: 100%;
box-shadow: 0px 2px 3px gray;
padding: 0px 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.navbar .logo{
    height: 100%;
    width: 16%;
    /* border: 1px solid; */
}

.navbar .logo img{
    height: 100%;
    width: 100%;
    /* border: 1px solid; */
}

.navbar .searchbar{
    height: 50%;
    width: 35%; 
    display: flex;
    align-items: center;
    border: 1px solid; 
    border-radius: 5px;
    padding: 0px 10px;
}

.navbar .searchbar input{
    height: 80%;
    width: 90%; 
    border: none; 
    outline: none;
    font-size: 20px;
    margin-left: 10px;
}

.navbar .but{
    background-color: rgb(255, 255, 255);
    /* border: 1px solid; */
    height: 60px;
    width: 120px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    padding-left: 37px;
}
.navbar .but button{
    border: none;
    font-size: 20px;
    outline: none;
    background-color: white;
}

.navbar .Cartsec{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid;
    height: 60px;
    width: 120px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.navbar .Cartsec button{
    border: none;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    background-color: white;
}