.container{
    height: 500px;
    width: 500px;
    border: 1px solid;
    margin: 0 auto;
    background-color: rgb(0, 255, 115);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

div{
    height: 150px;
    width: 150px;
    border: 1px solid;
    font-size: 30px;
    background-color: rgb(165, 42, 140);

}
div:hover{
    background-color: red;

}