input:disabled{
    color: brown;
    border: 2px solid red;
    background-color: #eee;
    cursor: not-allowed;
    margin-bottom: 10px;
    padding: 5px;
}

input:checked+label{
    color: rgb(38, 167, 21);
    font-weight: bold;
}

input:enabled{
    border: 2px solid green;
    padding: 5px;
    margin-bottom: 10px;
   

}
body{
    justify-content: center;
    align-items: center;
    display: flex;

}