table tr:nth-child(even){
    background-color: rgb(0, 255, 13);
}
table tr:nth-child(odd){
    background-color: yellow;
}
table th{
    background-color: rgb(188, 99, 16);
}
table{
    border-collapse: collapse;
    margin: 0 auto;
}
h1{
    text-align: center;
}